In [1]:
import  numpy as np
np.__version__

'1.21.2'

In [2]:
import pandas as pd
data = pd.read_csv('data.csv')

In [3]:
data.columns

Index(['Make', 'Model', 'Year', 'Engine Fuel Type', 'Engine HP',
       'Engine Cylinders', 'Transmission Type', 'Driven_Wheels',
       'Number of Doors', 'Market Category', 'Vehicle Size', 'Vehicle Style',
       'highway MPG', 'city mpg', 'Popularity', 'MSRP'],
      dtype='object')

In [4]:
len(data)

11914

In [5]:
data.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [6]:
def checkPopularity():
    if(max(data['Popularity'])):
        print(data['Make'])
        
checkPopularity()

0            BMW
1            BMW
2            BMW
3            BMW
4            BMW
          ...
11909      Acura
11910      Acura
11911      Acura
11912      Acura
11913    Lincoln
Name: Make, Length: 11914, dtype: object

In [7]:
test = data.sort_values('Popularity', ascending=False)

In [8]:
test.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
8361,Ford,Ranger,2011,regular unleaded,207.0,6.0,MANUAL,four wheel drive,4.0,NaN,Compact,Extended Cab Pickup,19,15,5657,26070
5041,Ford,Fusion,2017,regular unleaded,231.0,4.0,AUTOMATIC,all wheel drive,4.0,Performance,Midsize,Sedan,29,20,5657,27405
5031,Ford,Fusion,2015,regular unleaded,231.0,4.0,AUTOMATIC,all wheel drive,4.0,Performance,Midsize,Sedan,31,22,5657,32780
5032,Ford,Fusion,2015,regular unleaded,175.0,4.0,AUTOMATIC,front wheel drive,4.0,NaN,Midsize,Sedan,34,22,5657,24035
5033,Ford,Fusion,2015,regular unleaded,231.0,4.0,AUTOMATIC,front wheel drive,4.0,Performance,Midsize,Sedan,33,22,5657,30780

In [9]:
data["Make"].value_counts()[:3]

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

In [10]:
data[data['Make'] == 'Audi']['Model'].nunique()

34

In [12]:
len(data.columns[data.isna().any()])

5

In [13]:
data["Engine Cylinders"].median()

6.0

In [14]:
data["Engine Cylinders"].mode()

0    4.0
dtype: float64

In [15]:
data["Engine Cylinders"].fillna(float(data["Engine Cylinders"].mode()), inplace=True)

In [16]:
data["Engine Cylinders"].isna().value_counts()

False    11914
Name: Engine Cylinders, dtype: int64

In [17]:
data["Engine Cylinders"].median()

6.0

In [18]:
lotus_cars = data[data["Make"] == 'Lotus']
X = lotus_cars[["Engine HP", "Engine Cylinders"]].drop_duplicates().to_numpy()

In [19]:
XT = X.T
XT

array([[189., 218., 217., 350., 400., 276., 345., 257., 240.],
       [  4.,   4.,   4.,   8.,   6.,   6.,   6.,   4.,   4.]])

In [20]:
XTX = np.dot(XT, X)
XTX

array([[7.31684e+05, 1.34100e+04],
       [1.34100e+04, 2.52000e+02]])

In [21]:
XTXI = np.linalg.inv(XTX)
XTXI

array([[ 5.53084235e-05, -2.94319825e-03],
       [-2.94319825e-03,  1.60588447e-01]])

In [22]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

In [23]:
w = np.dot(np.dot(XTXI, XT), y)
w

array([  4.59494481, -63.56432501])